@import "tailwindcss";

body {
  background-color: #F9FAFB;
}
/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@theme {
  --font-heading: "spline-sans", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-bg-primary: #F9FAFB;
  --color-bg-secondary: #ffffff;
  --color-bg-tertiary: #ECECF0;
  
  --color-f-primary: #0A0A0A;
  --color-f-secondary: #717182;

  --color-page-family: #9810FA;
  --color-page-family-hover: #FAF5FF;
  --color-page-caregivers: #00A63E;
  --color-page-caregivers-hover: #F0FDF4;
  --color-page-login: #4F39F6;
  --color-page-admin: #155DFC;
  --color-page-reports: #FF8A00;

  --color-border: #E5E5E5;
  
  --color-alert:#FEF9C2;
  --color-main-alert: #F0B100;

  --color-rejected: #E7040E;

}